<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Urban Flood Hazard Analytics</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="/">
	<!--<link rel="stylesheet" type="text/css" th:href="@{/css/location.css}" />-->
	<!--<link th:href="@{/css/style.css}" rel="stylesheet"/>-->
	<style>
        .container {
            padding-top:20px;
        }
        .pagination-centered {
            text-align: center;
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }

        .pointer-disabled {
            pointer-events: none;
        }
    </style>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<!--<script type="text/javascript" th:src="@{/scripts/bootstrap.min.js}"></script>-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	<!--<script type="text/javascript" th:src="@{/scripts/bootstrap.bundle.min.js}"></script>-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js" integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl" crossorigin="anonymous"></script>
	<!--<script type="text/javascript" th:src="@{/scripts/main_floodforecast.js}"></script>-->
	<!--<script type="text/javascript" th:src="@{/scripts/bootstable.js}"></script>-->
	<script type="text/javascript">
        //<!--BOOTSTABLE-->

        "use strict";
          //Global variables
          var params = null;  		//Parameters
          var colsEdi =null;
          var newColHtml = '<div class="btn-group pull-right">'+
        '<button id="bEdit" type="button" class="btn btn-sm btn-default" onclick="rowEdit(this);">' +
        '<span class="glyphicon glyphicon-pencil" > </span>'+
        '</button>'+
        '<button id="bElim" type="button" class="btn btn-sm btn-default" onclick="rowElim(this);">' +
        '<span class="glyphicon glyphicon-trash" > </span>'+
        '</button>'+
        '<button id="bAcep" type="button" class="btn btn-sm btn-default" style="display:none;" onclick="rowAcep(this);">' +
        '<span class="glyphicon glyphicon-ok" > </span>'+
        '</button>'+
        '<button id="bCanc" type="button" class="btn btn-sm btn-default" style="display:none;" onclick="rowCancel(this);">' +
        '<span class="glyphicon glyphicon-remove" > </span>'+
        '</button>'+
            '</div>';
          var colEdicHtml = '<td name="buttons">'+newColHtml+'</td>';

          $.fn.SetEditable = function (options) {
            var defaults = {
                columnsEd: null,         //Index to editable columns. If null all td editables. Ex.: "1,2,3,4,5"
                $addButton: null,        //Jquery object of "Add" button
                onEdit: function() {},   //Called after edition
                onBeforeDelete: function() {}, //Called before deletion
                onDelete: function() {}, //Called after deletion
                onAdd: function() {}     //Called when added a new row
            };
            params = $.extend(defaults, options);
            this.find('thead tr').append('<th name="buttons">Action</th>');  //encabezado vacío
            this.find('tbody tr').append(colEdicHtml);
            var $tabedi = this;   //Read reference to the current table, to resolve "this" here.
            //Process "addButton" parameter
            if (params.$addButton != null) {
                //Se proporcionó parámetro
                params.$addButton.click(function() {
                    rowAddNew($tabedi.attr("id"));
                });
            }
            //Process "columnsEd" parameter
            if (params.columnsEd != null) {
                //Extract felds
                colsEdi = params.columnsEd.split(',');
            }
          };
        function IterarCamposEdit($cols, tarea) {
        //Itera por los campos editables de una fila
            var n = 0;
            $cols.each(function() {
                n++;
                if ($(this).attr('name')=='buttons') return;  //excluye columna de botones
                if (!EsEditable(n-1)) return;   //noe s campo editable
                tarea($(this));
            });

            function EsEditable(idx) {
            //Indica si la columna pasada está configurada para ser editable
                if (colsEdi==null) {  //no se definió
                    return true;  //todas son editable
                } else {  //hay filtro de campos
        //alert('verificando: ' + idx);
                    for (var i = 0; i < colsEdi.length; i++) {
                      if (idx == colsEdi[i]) return true;
                    }
                    return false;  //no se encontró
                }
            }
        }
        function FijModoNormal(but) {
        console.log("FijModoNormal >>> "+but);
            $(but).parent().find('#bAcep').hide();
            $(but).parent().find('#bCanc').hide();
            $(but).parent().find('#bEdit').show();
            $(but).parent().find('#bElim').show();
            var $row = $(but).parents('tr');  //accede a la fila
            console.log("edit row >>> "+$row.attr('id').replace('_editing',''));
            var id = $row.attr('id').replace('_editing','');
            $row.attr('id', id);  //quita marca
        }
        function FijModoEdit(but) {
        console.log("FijModoEdit >>> "+but);
            $(but).parent().find('#bAcep').show();
            $(but).parent().find('#bCanc').show();
            $(but).parent().find('#bEdit').hide();
            $(but).parent().find('#bElim').hide();
            var $row = $(but).parents('tr');  //accede a la fila
            console.log("EDIT ROW >>> "+but.id);
            var id = $row.attr('id') + "_editing";
            console.log("ID >> "+id);
            $row.attr('id', id);  //indica que está en edición
        }
        function ModoEdicion($row) {
            var str = $row.attr('id');
            console.log("ModoEdicion >>> "+ str);

            if(!!str) {
                console.log("ModoEdicion >>> " + str.indexOf('editing'));
                if (str.indexOf('editing') > -1) {
                console.log(" RETURN TRUE");
                    return true;
                }
            }else {
                console.log(" RETURN FALSE");
                return false;
            }
        }
        function rowAcep(but) {
        console.log("rowAcep >>> "+but.id);
        //Acepta los cambios de la edición
            var $row = $(but).parents('tr');  //accede a la fila
            var $cols = $row.find('td');  //lee campos
            if (!ModoEdicion($row)) return;  //Ya está en edición
            //Está en edición. Hay que finalizar la edición
            IterarCamposEdit($cols, function($td) {  //itera por la columnas
              var cont = $td.find('input').val(); //lee contenido del input
              $td.html(cont);  //fija contenido y elimina controles
            });
            FijModoNormal(but);
            console.log("rowAcep >>> "+$row.attr('id'));
            params.onEdit($row);
        }
        function rowCancel(but) {
        //Rechaza los cambios de la edición
            var $row = $(but).parents('tr');  //accede a la fila
            var $cols = $row.find('td');  //lee campos
            if (!ModoEdicion($row)) return;  //Ya está en edición
            //Está en edición. Hay que finalizar la edición
            IterarCamposEdit($cols, function($td) {  //itera por la columnas
                var cont = $td.find('div').html(); //lee contenido del div
                $td.html(cont);  //fija contenido y elimina controles
            });
            FijModoNormal(but);
        }
        function rowEdit(but) {  //Inicia la edición de una fila
        //home_submit();
            var $row = $(but).parents('tr');  //accede a la fila
            var $cols = $row.find('td');  //lee campos

             console.log("rowEdit " + ModoEdicion($row));
            if (ModoEdicion($row)) return;  //Ya está en edición
            //Pone en modo de edición
            IterarCamposEdit($cols, function($td) {  //itera por la columnas
                var cont = $td.html(); //lee contenido
                var div = '<div style="display: none;">' + cont + '</div>';  //guarda contenido
                var input = '<input class="form-control input-sm"  value="' + cont + '">';
                $td.html(div + input);  //fija contenido
            });
            console.log("continue edit");

            FijModoEdit(but);
        }
        function rowElim(but) {  //Elimina la fila actual
            console.log("DELETE "+but);
            var $row = $(but).parents('tr');  //accede a la fila
            params.onBeforeDelete($row);
            params.onDelete($row);
            console.log("REMOVE ROW NOW  "+ $row.attr('id'));
            $row.remove();
        }
        function rowAddNew(tabId) {  //Agrega fila a la tabla indicada.
        var $tab_en_edic = $("#" + tabId);  //Table to edit
            console.log("add new row" + tabId)
            var $filas = $tab_en_edic.find('tbody tr');
            if ($filas.length==0) {
                //No hay filas de datos. Hay que crearlas completas
                var $row = $tab_en_edic.find('thead tr');  //encabezado
                var $cols = $row.find('th');  //lee campos
                //construye html
                var htmlDat = '';
                $cols.each(function() {
                    if ($(this).attr('name')=='buttons') {
                        //Es columna de botones
                        htmlDat = htmlDat + colEdicHtml;  //agrega botones
                    } else {
                        htmlDat = htmlDat + '<td></td>';
                    }
                });
                $tab_en_edic.find('tbody').append('<tr>'+htmlDat+'</tr>');
            } else {
                //Hay otras filas, podemos clonar la última fila, para copiar los botones
                console.log("what is this?");
                var $ultFila = $tab_en_edic.find('tr:last');
                var nextId = parseInt($('tr').last().attr('id')) + 1;
                console.log("next id +"+ nextId);
                $ultFila.clone().appendTo($ultFila.parent()).prop('id', nextId);
                $ultFila = $tab_en_edic.find('tr:last');
                var $cols = $ultFila.find('td');  //lee campos
                $cols.each(function() {
                    if ($(this).attr('name')=='buttons') {
                        //Es columna de botones
                    } else {
                        $(this).html('');  //limpia contenido
                    }
                });
            }
            params.onAdd();
        }
        function TableToCSV(tabId, separator) {  //Convierte tabla a CSV
            var datFil = '';
            var tmp = '';
            var $tab_en_edic = $("#" + tabId);  //Table source
            $tab_en_edic.find('tbody tr').each(function() {
                //Termina la edición si es que existe
                if (ModoEdicion($(this))) {
                    $(this).find('#bAcep').click();  //acepta edición
                }
                var $cols = $(this).find('td');  //lee campos
                datFil = '';
                $cols.each(function() {
                    if ($(this).attr('name')=='buttons') {
                        //Es columna de botones
                    } else {
                        datFil = datFil + $(this).html() + separator;
                    }
                });
                if (datFil!='') {
                    datFil = datFil.substr(0, datFil.length-separator.length);
                }
                tmp = tmp + datFil + '\n';
            });
            return tmp;
        }


        //<!--MAIN_FLOODFORECAST-->


        $(document).ready(function () {
			console.log("JS Ready for FLOOD FORECAST");
			floodForecast();
			changePageAndSize();
		});

		function changePageAndSize() {

			var url = window.location.href;
			console.log("CURRENT URL >>> "+ url);
			var pageSize = "pageSize=";

			if (url.indexOf('pageSize') > -1) {
				console.log("existing pagination" + window.location.search)
				url = url.replace(window.location.search, '');
			}

			if(url.indexOf('?date=') > -1) {
				console.log("date existing");
				url = url + "&" + pageSize;
			} else {
				console.log("date not existing");
				url = url + "?" + pageSize;
			}

			console.log("NEW URL >>> "+ url);

			$('#pageSizeSelectForecast').change(function(evt) {
				window.location.replace(url+ this.value + "&page=1");
			});
		}

		function floodForecast() {
			 $('#forecastTable').SetEditable({
				 $addButton: $('#but_addFF'),
				 onEdit: function(arg) {
					 var id = $(arg).attr('id');
					 console.log("EDIT FLOOD FORECAST"+ id);
					 var $cols = $("#forecastTable").find("#"+id);  //lee campos
					 var data = {};
					 data.date = $cols.find('td').eq(0).text();
					 data.hour = $cols.find('td').eq(1).text();
					 data.location  = $cols.find('td').eq(2).text();
					 data.intensity  = $cols.find('td').eq(3).text();
					 data.sensitivityLevel  = $cols.find('td').eq(4).text();
					 data.sensitivityDetail  = $cols.find('td').eq(5).text();
					 var json = JSON.stringify(data);

					 console.log("data for flood forecast [] \n"+json)

					 var xhr = new XMLHttpRequest();
					 xhr.open("POST", "/admin/forecast", true);
					 xhr.setRequestHeader('Content-type','application/json; charset=utf-8');
					 xhr.send(json);

			//            $cols.find('td').each(function(i) {
			//                 console.log("val each == "+$(this).text())
			//                 console.log("\n ===="+i++);
			//            });

				 },   //Called after edition
				 onDelete: function(arg) {
					 console.log("last row id" + $('tr').last().attr('id'))
					 var id = $(arg).attr('id');
					 console.log("DELETE FORECAST"+ id);
					 var $cols = $("#forecastTable").find("#"+id);  //lee campos
					 var data = {};
					 data.date = $cols.find('td').eq(0).text();
					 data.hour = $cols.find('td').eq(1).text();
					 data.location  = $cols.find('td').eq(2).text();
					 var json = JSON.stringify(data);
					 console.log("delete for flood forecast >>> "+ json);
					 var url = "/admin/forecast/"+data.date+"/"+data.hour+"/"+data.location;
					 console.log("URL delete for flood forecast >>> "+ url);
					 var xhttp = new XMLHttpRequest();
					 xhttp.open("DELETE", url, true);
					 xhttp.send();
				 }
			  });
		}


    </script>
</head>

<body class="invert-body text-center">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" th:href="@{/admin/home}">Flood Hazard</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link" th:href="@{/admin/location/view}">Location</a>
			<a class="nav-item nav-link" th:href="@{/admin/rainintensity}">Today's Forecast</a>
			<a class="nav-item nav-link" th:href="@{/admin/rainintensity/view}">View Rain Forecast</a>
			<a class="nav-item nav-link active" th:href="@{/admin/forecast}">Warnings<span class="sr-only">(current)</span></a>
			<a class="nav-item nav-link" th:href="@{/admin/raintype/view}">Rain Type</a>
			<a class="nav-item nav-link" th:href="@{/admin/sensitivitycondition/view}">Precipitation Condition</a>
		</div>
	</div>
</nav>

<div class="container">

	<div class="row text-left">
		<div class="col-sm-12">
			<div class="card">
				<div class="alert alert-secondary card-header" role="alert">
					<b>Use search below to filter the entries</b><br>
					<em>Filter View By Date:</em>
				</div>
				<form  th:action="@{/admin/forecast}" method="get">
					<div class="form-group">
						<div class="col-sm-12">
							<input type="date" class="form-control" th:name="date"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button type="submit" class="btn btn-dark btn-block">Search</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<div id="feedback"></div>
			<h4 class="text-left"><span class="badge badge-secondary" id="but_addFF">Add</span> Flood Forecast </h4>
			<table id="forecastTable" name="forecastTable" class="table table-bordered">
				<thead class="card-header">
				<tr>
					<th>Date</th>
					<th>Hour</th>
					<th>Location</th>
					<th>Intensity</th>
					<th>Level</th>
					<th>Detail</th>
				</tr>
				</thead>
				<tbody>
				<th:block th:each="forecast : ${floodForecast}">
					<tr th:id="${forecast.id}">
						<td th:text="${forecast.date}"></td>
						<td th:text="${forecast.hour}"></td>
						<td th:text="${forecast.location}"></td>
						<td th:text="${forecast.intensity}"></td>
						<td th:text="${forecast.sensitivityLevel}"></td>
						<td th:text="${forecast.sensitivityDetail}"></td>
					</tr>
				</th:block>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">

		<div class="form-group col-md-1">
			<select class="form-control pagination" id="pageSizeSelectForecast">
				<option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
						th:selected="${pageSize} == ${selectedPageSize}"></option>
			</select>
		</div>
		<nav aria-label="...">
			<div th:if="${floodForecast.totalPages != 1}" class="form-group col-md-11 pagination-centered">
				<ul class="pagination">
					<li class="page-item" th:classappend="${floodForecast.number == 0} ? disabled">
						<a class="page-link" th:href="@{${url}(pageSize=${selectedPageSize}, page=1)}">&laquo;</a>
					</li>
					<li class="page-item" th:classappend="${floodForecast.number == 0} ? disabled">
						<a class="page-link" th:href="@{${url}(pageSize=${selectedPageSize}, page=${floodForecast.number})}">&larr;</a>
					</li>
					<li class="page-item" th:classappend="${floodForecast.number == (page - 1)} ? 'active pointer-disabled'"
						th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
						<a class="page-link" th:href="@{${url}(pageSize=${selectedPageSize}, page=${page})}"
						   th:text="${page}"></a>
					</li>
					<li class="page-item" th:classappend="${floodForecast.number + 1 == floodForecast.totalPages} ? disabled">
						<a class="page-link"
						   th:href="@{${url}(pageSize=${selectedPageSize}, page=${floodForecast.number + 2})}">&rarr;</a>
					</li>
					<li class="page-item" th:classappend="${floodForecast.number + 1 == floodForecast.totalPages} ? disabled">
						<a class="page-link"
						   th:href="@{${url}(pageSize=${selectedPageSize}, page=${floodForecast.totalPages})}">&raquo;</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</div>

<form th:action="@{/logout}" method="get">
	<button class="btn btn-md btn-danger btn-block" name="logout"
			type="Submit">Logout</button>
</form>
</body>
</html>